
<footer class="page-footer font-small elegant-color py-3">
  <div class="container text-center text-md-left">
    <div class="row">
      <div class="col-md-3 mx-auto">
        <h5 class="  mt-3 mb-4"><a href="#">Home</a></h5>           <!-- rubric73 rubric76  -->
      </div>
      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-3 mx-auto">
        <h5 class="  mt-3 mb-4"><a href="%23/about">About</a></h5>        <!-- rubric74 rubric77 -->
      </div>
      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-3 mx-auto">
        <h5 class=" mt-3 mb-4"><a href="#/contact">Contact</a></h5>       <!-- rubric75 rubric78 -->
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">
    © 2018 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> Grocery-Store</a>
    Email: grocery@outlook.com
  </div>
</footer>
<!-- Footer -->
