

<div class="container">
  <div class="row">
    <div class="col-6 text">                <!-- rubric63 -->
      We provide everything you need for an healthy start in the week

    </div>
    <div class="col-6 right">

      <a class="btn btn-dark" href="#/shopping" role="button">Shop All</a>
    </div>
  </div>

  <div class="background1">


  </div>
  <div class="placeholder">


  </div>
  <div class="row">
    <div class="col-5 text">
      <!-- rubric63 -->
      We provide everything you need for an healthy start in the week
    </div>
    <div class="col-6 right">
    
      <a class="btn btn-dark" href="#/shopping" role="button">Shop All</a>
    </div>
  </div>
    <div class="background2">


    </div>
    <div class="placeholder">


    </div>
    <div class="row">
      <div class="col-5 text">
        <!-- rubric63 -->
        We provide everything you need for an healthy start in the week
      </div>
      <div class="col-6 right">

        <a class="btn btn-dark" href="#/shopping" role="button">Shop All</a>
      </div>
    </div>
      <div class="background3">


      </div>
      <div class="placeholder">


      </div>
    </div>
  <header class="bg-primary text-center py-5 mb-4">
    <div class="container">
      <h1 class="font-weight-light text-white">Meet our Team</h1> <!-- rubric63 -->
    </div>
  </header>

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <!-- Team Member 1 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="https://source.unsplash.com/TMgQMXoglsM/500x350" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Jakob</h5>
            <div class="card-text text-black-50">Team-Manager</div>
          </div>
        </div>
      </div>
      <!-- Team Member 2 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="https://source.unsplash.com/9UVmlIb0wJU/500x350" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Klara</h5>
            <div class="card-text text-black-50">Retail Clerk</div>
          </div>
        </div>
      </div>
      <!-- Team Member 3 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="https://source.unsplash.com/sNut2MqSmds/500x350" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Richard</h5>
            <div class="card-text text-black-50">Web Developer</div>
          </div>
        </div>
      </div>
      <!-- Team Member 4 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="https://source.unsplash.com/ZI6p3i9SbVU/500x350" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Lisa</h5>
            <div class="card-text text-black-50">Web Developer</div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->




  </div>
  <div class="placeholder">


  </div>
  <!-- /.container -->
