<div class="container cart">
  
  <div class="row" >
    <div class="col-md-6">
      <table class="table table-responsive">
        <tr class="row">
          <th class="col-md-2">IImage</th>        <!-- rubric47 -->
          <th class="col-md-2">Name</th>
          <th class="col-md-2">Price</th>
          <th class="col-md-2">Qty</th>
          <th class="col-md-2">Cost</th>
          <th class="col-md-2">Remove</th>
        </tr>
        <tr *ngFor="let productData of categoriesdata; let i=index" class="row">
          <td class="col-md-2"><img [src]="categoriesdata[i].subcategories[i].items[i].imageLink" alt=""></td>
          <td class="col-md-2"></td>
          <td class="col-md-2"></td>
          <td class="col-md-2">
            
          </td>
          <td class="col-md-2"></td>
          <td class="col-md-2"><button class="btn btn-default" >X</button></td>
        </tr>
      </table>
      <div class="row tb-top">
        <div class="col-md-3"><strong>Subtotal: 12</strong></div>       <!-- rubric49 -->
        <div class="col-md-9"></div>
      </div>
      <div class="row ">
        <div class="col-md-3"><strong>Shipping: 0 €</strong></div>
        <div class="col-md-9">FREE</div>
      </div>
      <div class="row">
        <div class="col-md-3"><strong>Tax:   0 €</strong></div>
        <div class="col-md-9"></div>
      </div>
      <div class="row ">
        <div class="col-md-3"><strong>Total:  0 €</strong></div>
        <div class="col-md-9"></div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <h2>Enter Shipping Details</h2>       <!-- rubric48 -->
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="contact-form">
            <div class="form-group">
              <label class="control-label col-sm-2" for="username">Username:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="usernam" placeholder="Enter Username (Jason@mail.com)" name="username">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" for="adress">Adress:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="adress" placeholder="Enter Adresse (Mailroad 12)" name="adress">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" for="city">City:</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="email" placeholder="Enter city (Washington DC)" name="email">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" for="number">Phone Number:</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="number" placeholder="Enter email (1234/23456789)" name="number">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" id="checkout" class=" btn btn-default">Checkout</button>         <!-- rubric50 -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
